body {
  margin: 0;
  font-family: 'raleway', sans-serif;
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 991px) {
  .coll {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .coll button {
    height: 2.5rem !important;
    margin: 0 !important;
  }

  .equal {
    width: 45% !important;
  }

  .zero {
    width: 45% !important;
  }
}
